<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application>
        <activity
            android:name=".QRactivity"
            android:exported="false"
            android:theme="@style/Theme.CUBE" />
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>